#wishlist__button__wrapper {
  display: flex;
  flex-direction: row;
}

#wishlist__button__wrapper button {
  margin-inline: 1rem;
}

#wishlist__container {
  display: flex;
  flex-wrap: wrap;
}

.favorite__item__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px rgba(255, 255, 255, 0.37) solid;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
